*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: url('../../public/media/profilebg.svg') no-repeat;
    background-size: cover;
    position: absolute;
  
    
}
.container .data-cards{
    margin: auto;
    
  margin-top: 20px;
  max-width: 1000px;
  height: 80%;
  box-shadow: 0px 0px 3px 1px #b5b5b5;

  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
 
}
.profile-cards{
    width: 70%;
height: 150px;
background:  #8CABC9;;
border-radius: 11px;
float: right;
margin-left:100px;
display:flex;
align-items: center;
justify-content: space-around;
}
.left{
    display: flex;
flex-direction: column;

}
.left .name{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 71px;

color: #21173D;
}
.left .monthlyincome{
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    
    /* identical to box heght */
    color:#383684;
}
.right{


}
.right .dpimg{
    width: 100px;
height: 100px;
border-radius: 50%;
   
background: url('../../public/media/zucckerberg.jpg');
background-size: cover;

}
.monthlyExpense{
    height: 60%;
display: flex;

}
.monthlyExpense .menuLeft{
    width: 200px;
}
.monthlyExpense .graphRight{
    
    width: 90%;
    display: flex;
    align-items: center;
margin-left: 30px;
 
}